---
title: Configuring DataStax Enterprise Cassandra for PCF (Beta)
owner: Partners
---

To configure DataStax Enterprise Cassandra for PCF (Beta), navigate to the tile in the Ops Manager Installation Dashboard, click the tile to open its configuration tabs, and select the **Settings** tab.

The **Settings** tab includes the standard configuration panes **Assign AZs and Networks**, **Errands**, **Resource Config**, and **Stemcell**, shared by all Ops Manager tiles. 

The **Settings** tab also contains the following four product-specific panes:

## <a id='service'></a>Service Settings

![Image of OpsManager Cassandra Service Access Configuration](images/service-settings.png)

This pane includes the following fields:

* **Service name** to appear in Apps Manager.

* **Service CLI name** to use with Cloud Foundry Command Line Interface (cf CLI) commands, such as `cf create-service`.

* **Service description** in the services marketplace.

## <a id='cluster'></a>Cassandra Cluster Settings

![Image of OpsManager Cassandra Cluster Configuration](images/cluster-settings.png)

Pivotal Cloud Foundry (PCF) needs these fields from the external DataStax Enterprise Cassandra cluster, to allow access:

* IP Address
* Port (default: `9042`)
* Admin username
* Admin password

PCF uses the admin credentials to let users bind and unbind CF applications and manage users in DataStax Enterprise.

## <a id='plan'></a>Service Plans

![Image of OpsManager Cassandra Service plans Configuration](images/service-plans-settings.png)

In this pane you must define at least one plan, and you can define more. Each plan must have a **Plan Name** and **Plan Description**.

You can optionally set a **Cassandra Role** for each plan. When an app accesses DataStax Enterprise Cassandra through an instance of this plan, this is the Cassandra role that defines its permissions. If unset, the plan instance uses the admin credentials and has no Cassandra role assigned.

## <a id='access'></a>Service Access

By default, all service plans for the DataStax Enterprise Cassandra service are private.

To make the service plans public, publishing them to the Services Marketplace, select **Enable global access to plans of service DataStax Enterprise Cassandra for PCF (Beta)**.

![Image of OpsManager Cassandra Service Access Configuration](images/service-access-settings.png)
