---
title: DataStax Cassandra Service Broker for PCF
owner: Partners
---

This documentation describes the DataStax Cassandra Service Broker for PCF service.

DataStax Enterprise (DSE) is a distributed database service for cloud apps based on [Apache Cassandra](http://cassandra.apache.org/). DSE nodes sync automatically, and include indexing, search, analytics, and graph functions that help developers create intelligent and compelling cloud apps.

DataStax Cassandra Service Broker for PCF lets PCF developers call DSE from their apps running on Pivotal Cloud Foundry (PCF).

## <a id='overview'></a>Overview

DataStax Cassandra Service Broker for PCF includes:

* A service broker that connects PCF apps to an existing DataStax Enterprise installation
* Dynamic plan offerings that map to Cassandra roles

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Current DataStax Enterprise Cassandra for PCF Details</dt>
<dd><strong>Version</strong>: 0.2.1 </dd>
<dd><strong>Release Date</strong>: February 6, 2017</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: 1.6.x - 1.8.x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: 1.6.x - 1.8.x</dd>
<dd><strong>Go Buildpack Version(s)</strong>: 1.7.9 and later</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
</dl>

## <a id="reqs"></a>Requirements

DataStax Cassandra Service Broker for PCF has the following requirement:

* An existing, external DataStax Enterprise Cassandra installation reachable by PCF.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to
the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list
or send an email to [DataStax](mailto:partner-architecture@datastax.com).

## Further Reading

* [Official DataStax Enterprise Cassandra Documentation](http://docs.datastax.com/en/datastax_enterprise/5.0/)
