---
title: DataStax Enterprise Service Broker for PCF
owner: Partners
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
    }
</style>

This documentation describes the DataStax Enteprise Service Broker for PCF service.

DataStax Enterprise (DSE) is a distributed hybrid database service for cloud apps based on [Apache Cassandra](http://cassandra.apache.org/). DSE nodes sync automatically, and include indexing, search, analytics, and graph functions that help developers create intelligent and compelling cloud apps.

DataStax Enterprise Service Broker for PCF lets PCF developers call DSE from their apps running on Pivotal Cloud Foundry (PCF).

## <a id='overview'></a>Overview

DataStax Enterprise Service Broker for PCF includes:

* A service broker that connects PCF apps to an existing DataStax Enterprise 6.x installation
* Dynamic plan offerings that map to Apache Cassandra roles

## <a id="snapshot"></a>Product Snapshot


The following table provides version and version-support information about DataStax Enterprise Service Broker for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 27, 2019</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.2.x, v2.3.x, and v2.4.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.2.x, v2.3.x, and v2.4.x</td>
    </tr>
    <tr>
        <td>Go buildpack version(s)</td>
        <td>v1.8.33 and later</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>
<p class="note warning"><strong> WARNING:</strong>
DataStax Enterprise Service Broker for PCF v0.2.24
and earlier require a Ubuntu Trusty stemcell.
The end-of-life date for Ubuntu Trusty is April 2019.
If a security vulnerability is found on this stemcell after April, it will not be fixed.</p>


## <a id="reqs"></a>Requirements

DataStax Service Broker for PCF has the following requirement:

* An existing, external DataStax Enterprise installation reachable by PCF

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to
the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list
or send an email to [DataStax](mailto:partner-architecture@datastax.com).

## Further Reading

* [Official DataStax Enterprise Documentation](http://docs.datastax.com/)
