---
title: DataStax Enterprise Service Broker for Pivotal Platform
owner: Partners
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
    }
</style>

This documentation describes the DataStax Enteprise Service Broker for Pivotal Platform service.

DataStax Enterprise (DSE) is a distributed hybrid database service for cloud apps based on [Apache Cassandra](http://cassandra.apache.org/). DSE nodes sync automatically, and include indexing, search, analytics, and graph functions that help developers create intelligent and compelling cloud apps.

DataStax Enterprise Service Broker for Pivotal Platform lets Pivotal Platform developers call DSE from their apps running on Pivotal Platform.

## <a id='overview'></a>Overview

DataStax Enterprise Service Broker for Pivotal Platform includes:

* A service broker that connects Pivotal Platform apps to an existing DataStax Enterprise 6.x installation
* Dynamic plan offerings that map to Apache Cassandra roles

## <a id="snapshot"></a>Product Snapshot


The following table provides version and version-support information about DataStax Enterprise Service Broker for Pivotal Platform:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>June 28, 2019</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.4.x, v2.5.x, and v2.6.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.4.x, v2.5.x, and v2.6.x</td>
    </tr>
    <tr>
        <td>Go buildpack version(s)</td>
        <td>v1.8.33 and later</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

DataStax Service Broker for Pivotal Platform has the following requirement:

* An existing, external DataStax Enterprise installation reachable by Pivotal Platform

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to
the [Pivotal Platform Feedback](mailto:pivotal-cf-feedback@pivotal.io) list
or send an email to [DataStax](mailto:partner-architecture@datastax.com).

## Further Reading

* [Official DataStax Enterprise Documentation](http://docs.datastax.com/)
