---
title: DataStax Cassandra Service Broker for PCF (Beta)
owner: Partners
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
    }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong>
The DataStax Cassandra Service Broker for PCF tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

This documentation describes the DataStax Cassandra Service Broker for PCF service.

DataStax Enterprise (DSE) is a distributed database service for cloud apps based on [Apache Cassandra](http://cassandra.apache.org/). DSE nodes sync automatically, and include indexing, search, analytics, and graph functions that help developers create intelligent and compelling cloud apps.

DataStax Cassandra Service Broker for PCF lets PCF developers call DSE from their apps running on Pivotal Cloud Foundry (PCF).

## <a id='overview'></a>Overview

DataStax Cassandra Service Broker for PCF includes:

* A service broker that connects PCF apps to an existing DataStax Enterprise 5.0.x installation
* Dynamic plan offerings that map to Cassandra roles

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about DataStax Cassandra Service Broker for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.2.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>March 1, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>Go buildpack version(s)</td>
        <td>v1.7.9 and later</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

DataStax Cassandra Service Broker for PCF has the following requirement:

* An existing, external DataStax Enterprise Cassandra installation reachable by PCF

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to
the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list
or send an email to [DataStax](mailto:partner-architecture@datastax.com).

## Further Reading

* [Official DataStax Enterprise Cassandra Documentation](http://docs.datastax.com/en/datastax_enterprise/5.0/)
