---
title: Installing DataStax Enterprise Cassandra for PCF (Beta)
owner: Partners
---

This topic describes how to install and configure DataStax Enterprise Cassandra for PCF (Beta).

##<a id='install'></a> Install and Configure DataStax Enterprise Cassandra for PCF (Beta)

1. Download the product file from [Pivotal Network](http://network.pivotal.io).

1. Navigate to Ops Manager and click **Import a Product** to upload the product file. After upload, **DataStax Enterprise Cassandra for PCF (Beta)** should appear in left column.

1. Click **+** to the right of **DataStax Enterprise Cassandra for PCF (Beta)** to add the configuration tile to the Installation Dashboard.

1. Click the newly-added **DataStax Enterprise Cassandra for PCF (Beta)** tile to
   open its [configuration options](./configuring.html).

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install DataStax Enterprise Cassandra for PCF (Beta).
