---
title: Installing DataStax Enterprise Service Broker for Pivotal Platform
owner: Partners
---

This topic describes how to install and configure DataStax Enterprise Service Broker for Pivotal Platform.

##<a id='install'></a> Install and Configure DataStax Enterprise Service Broker for Pivotal Platform

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/datastax-enterprise-service-broker).

1. Navigate to Ops Manager and click **Import a Product** to upload the product file. After upload, **DataStax Enterprise Service Broker for Pivotal Platform** should appear in left column.

1. Click **+** to the right of **DataStax Enterprise Service Broker for Pivotal Platform** to add the configuration tile to the Installation Dashboard.

1. Click the newly-added **DataStax Enterprise Service Broker for Pivotal Platform** tile to
   open its [configuration options](./configuring.html).

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install DataStax Enterprise Service Broker for Pivotal Platform.
