---
title: Installing DataStax Enterprise Cassandra for PCF (BETA)
owner: Partners
---

This topic describes how to install and configure DataStax Enterprise Cassandra for PCF (BETA).

##<a id='install'></a> Install and Configure DataStax Enterprise Cassandra for PCF (BETA)

1. Download the product file from Pivotal Network.
1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product**
   to upload the product file.
1. Click **Add** next to the uploaded DataStax Enterprise Cassandra for PCF (BETA)
   tile in the Ops Manager **Available Products** view to add it to your staging area.
1. Click the newly added **DataStax Enterprise Cassandra for PCF (BETA)** tile to
   setup the [configurable options](./configuring.html).
1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install
   DataStax Enterprise Cassandra for PCF (BETA) tile.
