---
title: Installing DataStax Cassandra Service Broker for PCF
owner: Partners
---

This topic describes how to install and configure DataStax Cassandra Service Broker for PCF.

##<a id='install'></a> Install and Configure DataStax Cassandra Service Broker for PCF

1. Download the product file from [Pivotal Network](http://network.pivotal.io).

1. Navigate to Ops Manager and click **Import a Product** to upload the product file. After upload, **DataStax Cassandra Service Broker for PCF** should appear in left column.

1. Click **+** to the right of **DataStax Cassandra Service Broker for PCF** to add the configuration tile to the Installation Dashboard.

1. Click the newly-added **DataStax Cassandra Service Broker for PCF** tile to
   open its [configuration options](./configuring.html).

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install DataStax Cassandra Service Broker for PCF.
