---
title: Using DataStax Enterprise Service Broker for VMware Tanzu
owner: Partners
---

You can create service instances of DataStax Enterprise Service Broker for VMware Tanzu and bind them to apps using either Apps Manager or the Cloud Foundry Command-Line Interface (cf CLI).

Download an example app that uses DataStax Enterprise Service Broker for VMware Tanzu [here](https://github.com/mp911de/spring-music/tree/cassandra).

## <a id="create"></a> Create a Service Instance

Creating a service instance in VMware Tanzu automatically creates an associated user account in the DataStax Enterprise cluster, to let the instance access the cluster. If the service plan specifies a Cassandra role, this user account has this role; otherwise the instance logs in as `admin`.

The following procedures describe how to create a DataStax Enterprise Service Broker for VMware Tanzu service instance in Apps Manager and with the cf CLI.


### <a id="create-apps-man"></a> Pivotal Apps Manager

1. From Apps Manager, select **Marketplace** from the left navigation menu under **Spaces**. This displays the Services Marketplace.
1. Select **DataStax Enterprise Service Broker for VMware Tanzu** from the tiles.
1. Click on the **Select this plan** button to select the **Basic Service Plan**.
1. In the **Instance Name** field, enter a name that will identify this specific DataStax Enterprise Service Broker for VMware Tanzu service instance.
1. From the **Add to Space** drop-down list, select the space where apps will bind to the service.
1. Click the **Add** button to create the service instance.

### <a id="create-cli"></a> cf CLI

1. Run `cf marketplace` to view the available service plans. This should produce output like the following:

    <pre class="terminal">
    $ cf marketplace

    Getting services from marketplace in org system / space apps-manager as admin...
    OK

    service              plans          description
    p-dse-cassandra-sb   basic          A service broker for DataStax Enterprise Cassandra.

    TIP:  Use 'cf marketplace -s SERVICE' to view descriptions of individual plans of a given service.
    </pre>

1. Run `cf create-service SERVICE-NAME SERVICE-PLAN SERVICE-INSTANCE-NAME` to create the service plan. `SERVICE-INSTANCE-NAME` can be any descriptive name you want to use for the service instance:
    <pre class="terminal">
    $ cf create-service p-dse-cassandra-sb basic cassie
    </pre>

## <a id="bind"></a>Bind an App to a Service Instance

The following procedures describe how to bind a DataStax Enterprise Service Broker for VMware Tanzu service instance to a VMware Tanzu app using Pivotal Apps Manager or the cf CLI.

### <a id="bind-apps-man"></a> Pivotal Apps Manager

1. In a space, select the app to bind to the service.
1. Select the **Services** tab for the app. A page displays showing the service instances that are already bound to this app.
1. Click **Bind a Service**. A dropdown appears with a list of available service instances.
1. Select the DataStax Enterprise Service Broker for VMware Tanzu service instance you [created](#create) in the previous section and click **Bind**.
1. Use the cf CLI to start or restage your application.

    <pre class="terminal">
    $ cf restage spring-music
    </pre>

### <a id="bind-cli"></a>cf CLI

1. Run `cf services` to view running service instances. This should produce output like the following:

    <pre class="terminal">
    $ cf services

    Getting services in org system / space apps-manager as admin...
    OK

    name                        service             plan        bound apps    last operation
    cassie                      p-dse-cassandra-sb  basic                     create succeeded
    </pre>

1. Run cf bind-service `APP-NAME SERVICE-INSTANCE-NAME` to bind the application to the service instance.

    <pre class="terminal">
    $ cf bind-service spring-music cassie
    </pre>

1. Restage your app.

    <pre class="terminal">
    $ cf restage spring-music
    </pre>

## <a id="delete"></a>Delete a Service Instance

When you delete a DataStax Enterprise Cassandra service instance, the service broker automatically unbinds all apps that are bound to that service and removes from the Cassandra cluster any users created for binding apps.

### <a id="delete-apps-man"></a> Pivotal Apps Manager

1. From the **Services** tab for the space containing the instance, select the service instance.
1. Open the **Settings** tab and click **Delete Service Instance**.
1. You may need to restage or re-push any apps that used the service for the changes to take effect.

    <pre class="terminal">$ cf restage spring-music
    </pre>

### <a id="delete-cli"></a> cf CLI

1. Run `cf delete-service SERVICE-INSTANCE-NAME` to delete the service instance. Enter `y` when prompted. This produces output like the following:

    <pre class="terminal">
    $ cf delete-service cassie

    Really delete the service cassie?> y
    Deleting service cassie in org system / space apps-manager as admin...
    OK
    </pre>

1. You may need to restage or re-push any apps that used the service for the changes to take effect.

    <pre class="terminal">
    $ cf restage spring-music
    </pre>
