---
title: Using DataStax Enterprise Cassandra for PCF (BETA)
owner: Partners
---

DataStax Enterprise Cassandra (BETA) for PCF can be used both via Pivotal Apps Manager and the CLI, both methods are outlined below. An example application has also been created to help application developers get started with DataStax Enterprise Cassandra (BETA) for PCF, and can be [downloaded here](https://github.com/pivotal-cf/cf-cassandra-example-app/archive/master.zip).



<a id="create"></a>
## Creating a DataStax Cassandra Service Plan

The following procedure describes how to create a DataStax Cassandra service instance in the Pivotal Cloud Foundry Elastic Runtime environment.
Currently, the DataStax Enterprise Cassandra (BETA) provides only a single simple service plan.

### Using Pivotal Apps Manager

1. From within Pivotal Apps Manager, select Marketplace from the left navigation menu under Spaces. The Services Marketplace displays.
1. Select **DataStax Enterprise Cassandra (BETA)** from the displayed tiles and click to create a service instance.
1. Click on the **Select this plan** button to select the **basic Service Plan**.
1. In the Instance Name field, enter a name that will identify this specific DataStax Enterprise Cassandra (BETA) service instance.
1. From the Add to Space drop-down list, select the space where you or other users will deploy the applications that will bind to the service.
1. Click the **Add** button.

### Using the CLI

1. Run the following command to view the available service plans.

    ```
    $ cf marketplace
    ```

    This should produce the output:

    ```
    Getting services from marketplace in org system / space apps-manager as admin...
    OK

    service              plans          description
    p-dse-cassandra-sb   basic          A service broker for DataStax Enterprise Cassandra.

    TIP:  Use 'cf marketplace -s SERVICE' to view descriptions of individual plans of a given service.
    ```

1. Type the following command to create the service plan:

    ```
    $ cf create-service p-dse-cassandra-sb basic <service-instance-name>
    ```
    The service-instance-name is a descriptive name that you want to use for the service.

    <br />For example

    ```
    $ cf create-service p-dse-cassandra-sb basic cassie
    ```



<a id="bind"></a>
## Binding an Application to the DataStax Enterprise Cassandra (BETA) Service

The following procedures describe how to bind a DataStax Enterprise Cassandra (BETA) service instance to your Pivotal Cloud Foundry application. This can be done via the Pivotal Apps Manager or Using the Pivotal Cloud Foundry CLI.

### Using Pivotal Apps Manager

1. Select the application that you wish to bind to the service. A page displays showing the already bound services and instances for this application.
1. Click Bind. A list of available services displays.
1. Click the Bind button for the DataStax Enterprise Cassandra (BETA) service you want to bind to this application.
1. Using the Pivotal Cloud Foundry CLI, start or restage your application.

    ```
    $ cf restage <application-name>
    ```

### Using the CLI

1. Run the following command to view running service instances.

    ```
    $ cf services
    ```
    This should produce the output:

    ```
    Getting services in org system / space apps-manager as admin...
    OK

    name                        service             plan        bound apps    last operation
    my-dse-cassandra-instance   p-dse-cassandra-sb  basic                     create succeeded
    ```

1. Run the following command to bind the application to the service instance.

    ```
    $ cf bind-service <application-name> <service-instance-name>
    ```

    For example:

    ```
    $ cf bind-service my-application cassie
    ```
1. Restage your application.

    ```
    $ cf restage <application-name>
    ```

<a id="delete"></a>
## Deleting a DataStax Enterprise Cassandra (BETA) Instance

When you delete a DataStax Enterprise Cassandra (BETA) service instance, all applications that are bound to that service are automatically unbound and every user that was created for binding an application would be removed from the cassandra cluster.

### Using Pivotal Apps Manager

1. Locate the row under Services that contains the service instance you want to delete and click Delete.
1. If you had applications that were bound to this service, you may need to restage or re-push your application for the application changes to take effect.

    ```
    $ cf restage <application-name>
    ```


### Using the CLI

1. Run the following command.

    ```
    $ cf delete-service <service-instance-name>
    ```

    The service-instance-name is that of the service instance that you would like to delete. Enter 'y' when prompted.

    <br />For example:

    ```
    $ cf delete-service my-dse-cassandra-instance

    Really delete the service my-dse-cassandra-instance?> y
    Deleting service my-dse-cassandra-instance in org system / space apps-manager as admin...
    OK
    ```

1. If you had applications that were bound to this service, you may need to restage or re-push your application for the application changes to take effect.

    ```
    $ cf restage <application-name>
    ```
